* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: block;
	position: absolute;
}

.list-name, .resign-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	box-sizing: border-box;
}

.resign-button {
	cursor: default;
}

.resign-button:hover {
	background-color: lightgrey;
}

.resign-button:active {
	background-color: grey;
}